.catalog {
  grid-column: 1 / -1;

  &__title {
    grid-column: 1 / -1;
    font-weight: 800;
    font-size: 48px;
    line-height: 56px;
    color: $color-primary;
    margin-bottom: 8px;

    @include onMobile {
      font-size: 32px;
      line-height: 41px;
    }
  }

  &__subtitle {
    grid-column: 1 / -1;
    margin-bottom: 40px;
    font-size: 14px;
    font-weight: 600;
    line-height: 21px;
    color: $color-secondary;

    @include onMobile {
      margin-bottom: 32px;
    }
  }

  &__dropdown--container {
    grid-column: 1 / -1;
    display: flex;
    gap: 16px;
    margin-bottom: 24px;
  }

  &__dropdown {
    &:first-child {
      width: 176px;
    }

    &:last-child {
      width: 128px;
    }

    @include onTablet {
      &:first-child {
        width: 187px;
      }

      &:last-child {
        width: 136px;
      }
    }

    @include onMobile {
      &:first-child {
        width: 100%;
      }

      &:last-child {
        width: 100%;
      }
    }
  }

  &__list {
    margin: 0 auto;
    width: fit-content;
    grid-column: 1 / -1;
    display: grid;
    gap: 16px;
    --columns: 4;
    margin-bottom: 40px;

    grid-template-columns: repeat(var(--columns), 1fr);
    row-gap: 40px;

    &--item {
      grid-column: 1 span;
    }

    @media (max-width: 1200px) {
      --columns: 3;
    }

    @media (max-width: 896px) {
      --columns: 2;
    }

    @media (max-width: 592px) {
      --columns: 1;
    }
  }

  &__pagination {
    grid-column: 1 / -1;
    display: flex;
    justify-content: center;

    @include onMobile {
      padding-bottom: 64px;
    }
  }
}
